#1.Data Load

In [1]:
import warnings
warnings.filterwarnings('ignore')

# 라이브러리

import pandas as pd
import random
import os
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.ensemble import VotingClassifier
import lightgbm as lgbm
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier

In [2]:
#-*- coding:utf-8 -*-

In [3]:
!python --version
print('pandas', pd.__version__)
print('numpy', np.__version__)

Python 3.10.11
pandas 1.5.3
numpy 1.22.4

In [4]:
# Seed 고정

def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(37)

In [5]:
# 구글드라이브 활용

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
%cd /content/sample_data/

/content/sample_data

In [7]:
!unzip -qq '/content/drive/MyDrive/Colab Notebooks/datasets/LGAI_offline.zip'

In [8]:
train = pd.read_csv('/content/sample_data/train.csv',encoding = 'utf-8')
test = pd.read_csv('/content/sample_data/test.csv',encoding = 'utf-8')
sub = pd.read_csv('/content/sample_data/sample_submission.csv',encoding = 'utf-8')

#2.데이터 확인

##1) train data 확인

* 1132 rows x 3331 columns

In [9]:
train.info

<bound method DataFrame.info of       PRODUCT_ID  Y_Class  Y_Quality     LINE PRODUCT_CODE  X_1    X_2  X_3  \
0     TRAIN_0000        1   0.531957  T100304         T_31  2.0   95.0  0.0
1     TRAIN_0001        1   0.531105  T100306         T_31  2.0   96.0  0.0
2     TRAIN_0002        1   0.532292  T100306         T_31  2.0   95.0  0.0
3     TRAIN_0003        1   0.528141  T100306         T_31  2.0   87.0  0.0
4     TRAIN_0004        1   0.532289  T100306         T_31  2.0   95.0  0.0
...          ...      ...        ...      ...          ...  ...    ...  ...
1127  TRAIN_1127        0   0.516681  T050304         A_31  NaN    NaN  NaN
1128  TRAIN_1128        1   0.530413  T100304         T_31  2.0  102.0  0.0
1129  TRAIN_1129        1   0.533311  T100306         T_31  1.0   88.0  0.0
1130  TRAIN_1130        0   0.513135  T010306         A_31  NaN    NaN  NaN
1131  TRAIN_1131        1   0.527129  T100304         T_31  2.0  101.0  0.0

       X_4   X_5  ...    X_3317    X_3318    X_3319    X_3320    X_3321  \
0     45.0  10.0  ...  0.000008  0.000003  0.191408  0.000008  0.001210
1     45.0  10.0  ...  0.000008  0.000003  0.188993  0.000032  0.000644
2     45.0  10.0  ...       NaN       NaN       NaN       NaN       NaN
3     45.0  10.0  ...  0.000007  0.000003  0.189424  0.000034  0.000678
4     45.0  10.0  ...       NaN       NaN       NaN       NaN       NaN
...    ...   ...  ...       ...       ...       ...       ...       ...
1127   NaN   NaN  ...       NaN       NaN       NaN       NaN       NaN
1128  45.0  11.0  ...       NaN       NaN       NaN       NaN       NaN
1129  45.0  10.0  ...       NaN       NaN       NaN       NaN       NaN
1130   NaN   NaN  ...       NaN       NaN       NaN       NaN       NaN
1131  45.0  11.0  ...  0.000006  0.000004  0.190968  0.000009  0.001270

        X_3322    X_3323    X_3324  X_3325    X_3326
0     0.000021  0.000003  0.000002   0.189  0.000006
1     0.000041  0.000002  0.000003   0.185  0.000029
2          NaN       NaN       NaN     NaN       NaN
3     0.000043  0.000004  0.000003   0.188  0.000031
4          NaN       NaN       NaN     NaN       NaN
...        ...       ...       ...     ...       ...
1127       NaN       NaN       NaN     NaN       NaN
1128       NaN       NaN       NaN     NaN       NaN
1129       NaN       NaN       NaN     NaN       NaN
1130       NaN       NaN       NaN     NaN       NaN
1131  0.000022  0.000004  0.000001   0.190  0.000005

[1132 rows x 3331 columns]>

In [10]:
train.head()

,PRODUCT_ID,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,...,X_3317,X_3318,X_3319,X_3320,X_3321,X_3322,X_3323,X_3324,X_3325,X_3326
0,TRAIN_0000,1,0.531957,T100304,T_31,2.0,95.0,0.0,45.0,10.0,...,0.000008,0.000003,0.191408,0.000008,0.001210,0.000021,0.000003,0.000002,0.189,0.000006
1,TRAIN_0001,1,0.531105,T100306,T_31,2.0,96.0,0.0,45.0,10.0,...,0.000008,0.000003,0.188993,0.000032,0.000644,0.000041,0.000002,0.000003,0.185,0.000029
2,TRAIN_0002,1,0.532292,T100306,T_31,2.0,95.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TRAIN_0003,1,0.528141,T100306,T_31,2.0,87.0,0.0,45.0,10.0,...,0.000007,0.000003,0.189424,0.000034,0.000678,0.000043,0.000004,0.000003,0.188,0.000031
4,TRAIN_0004,1,0.532289,T100306,T_31,2.0,95.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> LINE, PRODUCT_CODE 별 데이터 확인

In [11]:
cols = ['LINE', 'PRODUCT_CODE']

for col in cols:
  def count_into_list(lst):
    answer = dict()
    for num in train[col]:
      if num not in answer.keys():
        answer[num] = 1
      else:
        answer[num] += 1
    return answer

  count_train = count_into_list(train[col])
  print(f'-- {col} --')
  print(count_train, '\n')

-- LINE --
{'T100304': 404, 'T100306': 434, 'T010305': 66, 'T050307': 66, 'T050304': 86, 'T010306': 76}

-- PRODUCT_CODE --
{'T_31': 830, 'A_31': 294, 'O_31': 8}

>PIVOT
* PRODUCT_CODE, LINE을 기준으로 PIVOT Table 만들기
* 이때, PRODUCT_CODE 별로 해당하는 라인이 각각 다름을 확인할 수 있음

In [12]:
train_pivot = pd.pivot_table(train, index = 'PRODUCT_CODE', columns = 'LINE', values = 'Y_Class', aggfunc = 'count')
train_pivot

LINE          T010305  T010306  T050304  T050307  T100304  T100306
PRODUCT_CODE
A_31             66.0     76.0     86.0     66.0      NaN      NaN
O_31              NaN      NaN      NaN      NaN      4.0      4.0
T_31              NaN      NaN      NaN      NaN    400.0    430.0

## 2) test data 확인

* 535 rows x 3329 columns

In [13]:
test.info

<bound method DataFrame.info of     PRODUCT_ID     LINE PRODUCT_CODE  X_1    X_2  X_3   X_4   X_5  X_6   X_7  \
0     TEST_000  T100304         T_31  2.0   94.0  0.0  45.0  11.0  0.0  45.0
1     TEST_001  T100306         T_31  3.0   89.0  0.0  45.0  10.0  0.0  51.0
2     TEST_002  T100304         T_31  2.0  100.0  0.0  45.0  10.0  0.0  45.0
3     TEST_003  T100306         T_31  2.0   91.0  0.0  45.0  10.0  0.0  51.0
4     TEST_004  T100306         T_31  2.0   87.0  0.0  45.0  10.0  0.0  51.0
..         ...      ...          ...  ...    ...  ...   ...   ...  ...   ...
530   TEST_530  T100306         T_31  1.0   95.0  0.0  45.0  10.0  0.0  51.0
531   TEST_531  T100306         T_31  2.0   91.0  0.0  45.0  10.0  0.0  53.0
532   TEST_532  T100304         T_31  2.0   93.0  0.0  45.0  10.0  0.0  45.0
533   TEST_533  T100306         T_31  2.0   93.0  0.0  45.0  10.0  0.0  51.0
534   TEST_534  T100306         T_31  1.0   90.0  0.0  45.0  10.0  0.0  50.0

     ...    X_3317    X_3318    X_3319    X_3320    X_3321    X_3322  \
0    ...       NaN       NaN       NaN       NaN       NaN       NaN
1    ...  0.000007  0.000004  0.189134  0.000032  0.000664  0.000041
2    ...       NaN       NaN       NaN       NaN       NaN       NaN
3    ...       NaN       NaN       NaN       NaN       NaN       NaN
4    ...       NaN       NaN       NaN       NaN       NaN       NaN
..   ...       ...       ...       ...       ...       ...       ...
530  ...       NaN       NaN       NaN       NaN       NaN       NaN
531  ...       NaN       NaN       NaN       NaN       NaN       NaN
532  ...  0.000007  0.000005  0.190519  0.000009  0.001260  0.000024
533  ...       NaN       NaN       NaN       NaN       NaN       NaN
534  ...       NaN       NaN       NaN       NaN       NaN       NaN

       X_3323    X_3324  X_3325    X_3326
0         NaN       NaN     NaN       NaN
1    0.000004  0.000003   0.187  0.000030
2         NaN       NaN     NaN       NaN
3         NaN       NaN     NaN       NaN
4         NaN       NaN     NaN       NaN
..        ...       ...     ...       ...
530       NaN       NaN     NaN       NaN
531       NaN       NaN     NaN       NaN
532  0.000004  0.000002   0.190  0.000005
533       NaN       NaN     NaN       NaN
534       NaN       NaN     NaN       NaN

[535 rows x 3329 columns]>

In [14]:
test.head()

,PRODUCT_ID,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,...,X_3317,X_3318,X_3319,X_3320,X_3321,X_3322,X_3323,X_3324,X_3325,X_3326
0,TEST_000,T100304,T_31,2.0,94.0,0.0,45.0,11.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TEST_001,T100306,T_31,3.0,89.0,0.0,45.0,10.0,0.0,51.0,...,0.000007,0.000004,0.189134,0.000032,0.000664,0.000041,0.000004,0.000003,0.187,0.00003
2,TEST_002,T100304,T_31,2.0,100.0,0.0,45.0,10.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TEST_003,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TEST_004,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> LINE, PRODUCT_CODE 별 데이터 확인

In [15]:
cols = ['LINE', 'PRODUCT_CODE']

for col in cols:
  def count_into_list(lst):
    answer = dict()
    for num in test[col]:
      if num not in answer.keys():
        answer[num] = 1
      else:
        answer[num] += 1
    return answer
    
  count_test = count_into_list(test[col])
  print(f'-- {col} --')
  print(count_test, '\n')

-- LINE --
{'T100304': 213, 'T100306': 276, 'T050307': 26, 'T050304': 5, 'T010306': 8, 'T010305': 7}

-- PRODUCT_CODE --
{'T_31': 487, 'A_31': 46, 'O_31': 2}

# 3.데이터전처리

## 1) 불필요한 column 삭제

In [16]:
train_x = train.drop(columns=['PRODUCT_ID', 'Y_Class', 'Y_Quality'])
train_y = train['Y_Class']

test_x = test.drop(columns=['PRODUCT_ID'])

## 2) 라벨인코딩

In [17]:
# qualitative to quantitative

qual_col = ['PRODUCT_CODE', 'LINE']

for i in qual_col:
    le = LabelEncoder()
    le = le.fit(train_x[i])
    train_x[i] = le.transform(train_x[i])
    
    for label in np.unique(test[i]): 
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test_x[i] = le.transform(test[i]) 
print('Done.')

Done.

## 3) 정규화

In [18]:
from sklearn.preprocessing import MinMaxScaler

x_col = train.columns[train.columns.str.contains('X')].tolist()
scaler = MinMaxScaler()
  
scaler.fit(train_x[x_col])
  
train_x[x_col] = scaler.transform(train_x[x_col])
test_x[x_col] = scaler.transform(test_x[x_col])

## 4) 결측값 'train_x'의 mean값으로 보간
  > Data Leakage 방지하기위해 train_x의 평균으로 test_x 결측치 보간

In [19]:
train_X = train_x.fillna(train_x.mean())
test_x = test_x.fillna(train_x.mean())

## 5) 일정한 값(중복값.etc)을 가지는 column 삭제

In [20]:
train_xt=train_X.transpose()
train_xt

,0,1,2,3,4,5,6,7,8,9,...,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131
LINE,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,4.000000,...,4.000000,5.000000,4.000000,5.000000,4.000000,2.000000,4.000000,5.000000,1.000000,4.000000
PRODUCT_CODE,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,0.000000,2.000000,2.000000,0.000000,2.000000
X_1,0.006536,0.006536,0.006536,0.006536,0.006536,0.006536,0.006536,0.000000,0.013072,0.307190,...,0.000000,0.006536,0.006536,0.006536,0.006536,0.011473,0.006536,0.000000,0.011473,0.006536
X_2,0.533333,0.600000,0.533333,0.000000,0.533333,0.533333,0.533333,0.666667,0.400000,0.666667,...,0.933333,0.600000,0.533333,0.000000,0.400000,0.530231,1.000000,0.066667,0.530231,0.933333
X_3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X_3322,0.068966,0.758621,0.463106,0.844828,0.463106,0.720690,0.463106,0.463106,0.693103,0.310345,...,0.463106,0.463106,0.463106,0.463106,0.463106,0.463106,0.463106,0.463106,0.463106,0.110345
X_3323,0.374749,0.174349,0.330111,0.468938,0.330111,0.571142,0.330111,0.330111,0.232465,0.995992,...,0.330111,0.330111,0.330111,0.330111,0.330111,0.330111,0.330111,0.330111,0.330111,0.414830
X_3324,0.382716,0.703036,0.583531,0.759760,0.583531,0.843177,0.583531,0.583531,0.723056,0.646313,...,0.583531,0.583531,0.583531,0.583531,0.583531,0.583531,0.583531,0.583531,0.583531,0.289289
X_3325,0.500000,0.000000,0.448529,0.375000,0.448529,0.375000,0.448529,0.448529,0.500000,0.750000,...,0.448529,0.448529,0.448529,0.448529,0.448529,0.448529,0.448529,0.448529,0.448529,0.625000
X_3326,0.072881,0.877966,0.470894,0.949153,0.470894,0.898305,0.470894,0.470894,0.884746,0.057288,...,0.470894,0.470894,0.470894,0.470894,0.470894,0.470894,0.470894,0.470894,0.470894,0.064407

In [21]:
train_xtd = train_xt.drop_duplicates(keep = False)
train_xtd # 중복값 행 삭제

,0,1,2,3,4,5,6,7,8,9,...,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131
LINE,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,4.000000,...,4.000000,5.000000,4.000000,5.000000,4.000000,2.000000,4.000000,5.000000,1.000000,4.000000
PRODUCT_CODE,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,0.000000,2.000000,2.000000,0.000000,2.000000
X_1,0.006536,0.006536,0.006536,0.006536,0.006536,0.006536,0.006536,0.000000,0.013072,0.307190,...,0.000000,0.006536,0.006536,0.006536,0.006536,0.011473,0.006536,0.000000,0.011473,0.006536
X_2,0.533333,0.600000,0.533333,0.000000,0.533333,0.533333,0.533333,0.666667,0.400000,0.666667,...,0.933333,0.600000,0.533333,0.000000,0.400000,0.530231,1.000000,0.066667,0.530231,0.933333
X_4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.005967,0.000000,0.000000,0.005967,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X_3322,0.068966,0.758621,0.463106,0.844828,0.463106,0.720690,0.463106,0.463106,0.693103,0.310345,...,0.463106,0.463106,0.463106,0.463106,0.463106,0.463106,0.463106,0.463106,0.463106,0.110345
X_3323,0.374749,0.174349,0.330111,0.468938,0.330111,0.571142,0.330111,0.330111,0.232465,0.995992,...,0.330111,0.330111,0.330111,0.330111,0.330111,0.330111,0.330111,0.330111,0.330111,0.414830
X_3324,0.382716,0.703036,0.583531,0.759760,0.583531,0.843177,0.583531,0.583531,0.723056,0.646313,...,0.583531,0.583531,0.583531,0.583531,0.583531,0.583531,0.583531,0.583531,0.583531,0.289289
X_3325,0.500000,0.000000,0.448529,0.375000,0.448529,0.375000,0.448529,0.448529,0.500000,0.750000,...,0.448529,0.448529,0.448529,0.448529,0.448529,0.448529,0.448529,0.448529,0.448529,0.625000
X_3326,0.072881,0.877966,0.470894,0.949153,0.470894,0.898305,0.470894,0.470894,0.884746,0.057288,...,0.470894,0.470894,0.470894,0.470894,0.470894,0.470894,0.470894,0.470894,0.470894,0.064407

In [22]:
train_xtt = train_xtd.transpose()
train_xtt

,LINE,PRODUCT_CODE,X_1,X_2,X_4,X_5,X_7,X_8,X_9,X_11,...,X_3317,X_3318,X_3319,X_3320,X_3321,X_3322,X_3323,X_3324,X_3325,X_3326
0,4.0,2.0,0.006536,0.533333,0.000000,0.000000,0.000000,0.000000,0.0000,0.530547,...,0.654045,0.002252,0.531399,0.041652,0.849850,0.068966,0.374749,0.382716,0.500000,0.072881
1,5.0,2.0,0.006536,0.600000,0.000000,0.000000,0.363636,0.000000,1.0000,0.915327,...,0.604131,0.144144,0.027793,0.872926,0.000000,0.758621,0.174349,0.703036,0.000000,0.877966
2,5.0,2.0,0.006536,0.533333,0.000000,0.000000,0.681818,0.000000,1.0000,0.735263,...,0.486506,0.233557,0.315822,0.480294,0.491698,0.463106,0.330111,0.583531,0.448529,0.470894
3,5.0,2.0,0.006536,0.000000,0.000000,0.000000,0.363636,0.000000,1.0000,0.482315,...,0.495697,0.191441,0.117571,0.964702,0.051051,0.844828,0.468938,0.759760,0.375000,0.949153
4,5.0,2.0,0.006536,0.533333,0.000000,0.000000,0.272727,0.000000,1.0000,0.798499,...,0.486506,0.233557,0.315822,0.480294,0.491698,0.463106,0.330111,0.583531,0.448529,0.470894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,2.0,0.0,0.011473,0.530231,0.005967,0.335322,0.163051,0.027446,0.5179,0.659740,...,0.486506,0.233557,0.315822,0.480294,0.491698,0.463106,0.330111,0.583531,0.448529,0.470894
1128,4.0,2.0,0.006536,1.000000,0.000000,1.000000,0.000000,0.000000,0.0000,0.918542,...,0.486506,0.233557,0.315822,0.480294,0.491698,0.463106,0.330111,0.583531,0.448529,0.470894
1129,5.0,2.0,0.000000,0.066667,0.000000,0.000000,0.272727,0.000000,1.0000,0.336549,...,0.486506,0.233557,0.315822,0.480294,0.491698,0.463106,0.330111,0.583531,0.448529,0.470894
1130,1.0,0.0,0.011473,0.530231,0.005967,0.335322,0.163051,0.027446,0.5179,0.659740,...,0.486506,0.233557,0.315822,0.480294,0.491698,0.463106,0.330111,0.583531,0.448529,0.470894
1131,4.0,2.0,0.006536,0.933333,0.000000,1.000000,0.000000,0.000000,0.0000,0.554126,...,0.258176,0.283784,0.439546,0.081539,0.939940,0.110345,0.414830,0.289289,0.625000,0.064407

> train 열과 똑같은 test 열 남기기

In [23]:
## train의 기존 columns을 리스트 변수로 설정
train_col_origin = train.columns[train.columns.str.contains('X')].tolist()

## 중복 열이 제거된 train의 남은 columns을 리스트 변수로 설정
train_col = train_xtt.columns[train_xtt.columns.str.contains('X')].tolist()

## train 열 중 삭제 된 columns 구하기
train_col_main = [x for x in train_col_origin if x not in train_col]

In [24]:
## 삭제된 columns을 test에서도 삭제하기
for col in train_col_main:
  test_x = test_x.drop(columns = col)

# 4. Modeling
> ExtraTreesClassifier model 활용

In [25]:
train_xtt.shape, train_y.shape, test_x.shape

((1132, 1381), (1132,), (535, 1381))

In [26]:
et_cls = ExtraTreesClassifier(n_estimators = 500, min_samples_leaf = 4, 
                              min_samples_split= 7, max_features=1381, random_state = 2045)
et_cls.fit(train_xtt, train_y)

ExtraTreesClassifier(max_features=1381, min_samples_leaf=4, min_samples_split=7,
                     n_estimators=500, random_state=2045)

In [27]:
pred = et_cls.predict(test_x)
sub['Y_Class'] = pred

sub.to_csv('./answer.csv', index = False)

In [28]:
pred

array([1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       1, 2, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1,
       2, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 2, 1, 0, 1, 2, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 0, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 0, 1, 1, 1, 1, 0, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2,
       1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 0, 1, 1, 1, 1, 2, 0, 1, 1, 0, 1,
       1, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1,
       2, 2, 0, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       2, 1, 0, 1, 1, 1, 1, 2, 1, 0, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1,
       0, 2, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 0, 1, 1, 1, 2, 1, 1, 1, 2, 1,
       1, 2, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 2, 1, 0, 0, 0, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 2, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 0, 1, 1, 1, 1, 1, 1, 2, 1, 0, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 2, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 2, 1, 2, 0, 1, 1, 1, 2, 1, 1, 2, 1, 1,
       1, 1, 2, 1, 1, 1, 1])